		<!-- Footer -->
			
				<!-- Icons -->
					<div>
						<ul class="icons" style="text-align:center; margin-top: 3em;">
							<li><a href="https://twitter.com/NG_Thoughts
" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/groups/NeverGiveUpThoughts/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/nevergiveupthoughts/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://www.youtube.com/channel/UCJb1eyO_q4FUfZCz52yhLdg
" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
							<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
                            <li><a href="#" class="icon fa-envelope"><span class="label">E-mail</span></a></li>
						</ul>
						</div>

					<!-- Copyright -->
						<div class="copyright" >
							<ul class="menu" style="text-align:center;" >
								<li >&copy; <b> 2018 NeverGiveUpThoughts</b> All rights reserved.</li>
							</ul>
						</div>

				</div>

		</div>
	</body>
</html>
