<!DOCTYPE HTML>

<html>
	<head>
		<title>NeverGiveUpThoughts</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	
	
	<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
					
				
					<!-- Nav -->
						<nav id="nav" class="nav">
<!--<div id="logo">
                      <a href="index.html" id="logo"><img src="images/NG2.png" alt="logo" /></a>
					  </div>-->
                       <img style="float:left;" class="logo" src="images/ngts7.png" alt="logo">
							<ul>
								<li class="current"><a href="index.html"><h3>Home</h3></a></li>
								<li><a href="about.html"><h3>About</h3></a></li>
								<li><a href="disclaimer.html"><h3>Disclaimer</h3></a></li>
								<li><a href="privacypolicy.html"><h3>Privacy policy</h3></a></li>
								<li><a href="contact.html"><h3>Contact</h3></a></li>
								<!--<li class="current"><a href="index.html">Home</a></li>
								<li class=""><a href="about.html">About</a></li>
								<li class=""><a href="disclaimer.html">Disclaimer</a></li>
								<li class=""><a href="privacypolicy.html">Privacy Policy</a></li>
								<li class=""><a href="contact.html">Contact</a></li>-->
								
							</ul>
						</nav>

				</div>
